node_modules
__pycache__
*.pyc
*.pyc
src/database/__pycache__/query.cpython-312.pyc
src/FarsiAid_website/__pycache__/__init__.cpython-312.pyc
src/FarsiAid_website/__pycache__/secret.cpython-312.pyc
src/FarsiAid_website/__pycache__/settings.cpython-312.pyc
src/FarsiAid_website/__pycache__/urls.cpython-312.pyc
src/FarsiAid_website/__pycache__/views.cpython-312.pyc
src/group1/__pycache__/__init__.cpython-312.pyc
src/group1/__pycache__/admin.cpython-312.pyc
src/group1/__pycache__/apps.cpython-312.pyc
src/group1/__pycache__/models.cpython-312.pyc
src/group1/__pycache__/urls.cpython-312.pyc
src/group1/__pycache__/views.cpython-312.pyc
src/group10/__pycache__/__init__.cpython-312.pyc
src/group10/__pycache__/admin.cpython-312.pyc
src/group10/__pycache__/apps.cpython-312.pyc
src/group10/__pycache__/models.cpython-312.pyc
src/group2/__pycache__/__init__.cpython-312.pyc
src/group2/__pycache__/admin.cpython-312.pyc
src/group2/__pycache__/apps.cpython-312.pyc
src/group2/__pycache__/models.cpython-312.pyc
src/group2/__pycache__/urls.cpython-312.pyc
src/group2/__pycache__/views.cpython-312.pyc
src/group3/__pycache__/__init__.cpython-312.pyc
src/group3/__pycache__/admin.cpython-312.pyc
src/group3/__pycache__/apps.cpython-312.pyc
src/group3/__pycache__/models.cpython-312.pyc
src/group3/__pycache__/urls.cpython-312.pyc
src/group3/__pycache__/views.cpython-312.pyc
src/group3/client/public/vite.svg
src/group3/client/src/assets/react.svg
src/group4/__pycache__/__init__.cpython-312.pyc
src/group4/__pycache__/admin.cpython-312.pyc
src/group4/__pycache__/apps.cpython-312.pyc
src/group4/__pycache__/models.cpython-312.pyc
src/group5/__pycache__/__init__.cpython-312.pyc
src/group5/__pycache__/admin.cpython-312.pyc
src/group5/__pycache__/apps.cpython-312.pyc
src/group5/__pycache__/models.cpython-312.pyc
src/group6/__pycache__/__init__.cpython-312.pyc
src/group6/__pycache__/admin.cpython-312.pyc
src/group6/__pycache__/apps.cpython-312.pyc
src/group6/__pycache__/models.cpython-312.pyc
src/group7/__pycache__/__init__.cpython-312.pyc
src/group7/__pycache__/admin.cpython-312.pyc
src/group7/__pycache__/apps.cpython-312.pyc
src/group7/__pycache__/models.cpython-312.pyc
src/group8/__pycache__/__init__.cpython-312.pyc
src/group8/__pycache__/admin.cpython-312.pyc
src/group8/__pycache__/apps.cpython-312.pyc
src/group8/__pycache__/models.cpython-312.pyc
src/group9/__pycache__/__init__.cpython-312.pyc
src/group9/__pycache__/admin.cpython-312.pyc
src/group9/__pycache__/apps.cpython-312.pyc
src/group9/__pycache__/models.cpython-312.pyc
src/registration/__pycache__/__init__.cpython-312.pyc
src/registration/__pycache__/admin.cpython-312.pyc
src/registration/__pycache__/apps.cpython-312.pyc
src/registration/__pycache__/models.cpython-312.pyc
src/registration/__pycache__/secret.cpython-312.pyc
src/registration/__pycache__/urls.cpython-312.pyc
src/registration/__pycache__/views.cpython-312.pyc
