<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه خانه گروه 5</title>
    <link rel="stylesheet" href="{% static 'base/home_style.css' %}">
</head>
<body>
    <main>
        <section class="api-container">
            <h2>API های موجود</h2>
            <ul>
                <li>
                    <a class="api-link" href="{% url 'group5:suggest-word' %}">پیشنهاد کلمه</a>
                    <p>ارائه یک رشته و پیشنهاد بهترین کلمه بعد از آن</p>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>
